<!DOCTYPE html>
<html lang="en">
<head>
<title>Elements</title>
{% include 'add/head.html' %}
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	{% include 'add/header.html' %}
	
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/contact.jpg" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Elements <span>CareMed</span></div>
							<div class="breadcrumbs">
								<ul>
									<li><a href="#">Home</a></li>
									<li>Elements</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Buttons -->

	<div class="buttons">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title"><h2>Buttons</h2></div>
				</div>
			</div>
			<div class="row buttons_row">
				<div class="button ele_button"><a href="#">send</a></div>
				<div class="button ele_button ele_button_2"><a href="#">send</a></div>
				<div class="button ele_button ele_button_3"><a href="#">send</a></div>
			</div>
		</div>
	</div>

	<!-- Accordions & Tabs -->

	<div class="accordions_tabs">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title"><h2>Accordions & Tabs</h2></div>
				</div>
			</div>

			<div class="row accordions_tabs_row">
				<div class="col-lg-7">
				
					<!-- Accordions -->
					<div class="accordions">
						
						<div class="elements_accordions">

							<div class="accordion_container">
								<div class="accordion d-flex flex-row align-items-center active"><div>A great medical team to help your needs</div></div>
								<div class="accordion_panel">
									<div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dapibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet tortor aliquam bibendum.</p>
									</div>
								</div>
							</div>

							<div class="accordion_container">
								<div class="accordion d-flex flex-row align-items-center"><div>A great medical team to help your needs</div></div>
								<div class="accordion_panel">
									<div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dapibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet tortor aliquam bibendum.</p>
									</div>
								</div>
							</div>

							<div class="accordion_container">
								<div class="accordion d-flex flex-row align-items-center"><div>A great medical team to help your needs</div></div>
								<div class="accordion_panel">
									<div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dapibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet tortor aliquam bibendum.</p>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

				<div class="col-lg-5">
					
					<!-- Tabs -->
					<div class="tabs">
						
						<div class="tabs_container">
							<div class="tabs d-flex flex-row align-items-center justify-content-start">
								<div class="tab active">FAQ</div>
								<div class="tab">Jobs</div>
								<div class="tab">Doctors</div>
							</div>
							<div class="tab_panels">
								<div class="tab_panel">
									<div class="tab_panel_content">
										<div class="tab_text clearfix">
											<p>Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dapibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet tortor aliquam bibendum.</p>
										</div>
									</div>
								</div>
								<div class="tab_panel active">
									<div class="tab_panel_content">
										<div class="tab_text clearfix">
											<p>Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dapibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet tortor aliquam bibendum.</p>
										</div>
									</div>
								</div>
								<div class="tab_panel">
									<div class="tab_panel_content">
										<div class="tab_text clearfix">
											<p>Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dapibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet tortor aliquam bibendum.</p>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Milestones -->

	<div class="milestones">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title"><h2>Milestones</h2></div>
				</div>
			</div>
			<div class="row milestones_container">
							
				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="images/milestone_1.svg" alt=""></div>
						<div class="milestone_counter" data-end-value="255">0</div>
						<div class="milestone_text">Happy Patients</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="images/milestone_2.svg" alt=""></div>
						<div class="milestone_counter" data-end-value="1176">0</div>
						<div class="milestone_text">Procedures</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="images/milestone_3.svg" alt=""></div>
						<div class="milestone_counter" data-end-value="39">0</div>
						<div class="milestone_text">Good Doctors</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="images/milestone_4.svg" alt=""></div>
						<div class="milestone_counter" data-end-value="127">0</div>
						<div class="milestone_text">Amazing Rooms</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Loaders -->

	<div class="loaders">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title"><h2>Loaders</h2></div>
				</div>
			</div>

			<!-- Loaders -->
			<div class="row loaders_container">
				<div class="col-md-3 loader_col">
					<!-- Loader -->
					<div class="loader" data-perc="0.75"><span>Hard Work</span></div>
				</div>
				<div class="col-md-3 loader_col">
					<!-- Loader -->
					<div class="loader" data-perc="0.95"><span>Passion</span></div>
				</div>
				<div class="col-md-3 loader_col">
					<!-- Loader -->
					<div class="loader" data-perc="0.75"><span>Hard Work</span></div>
				</div>
				<div class="col-md-3 loader_col">
					<!-- Loader -->
					<div class="loader" data-perc="0.95"><span>Passion</span></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Icon Boxes -->

	<div class="icon_boxes">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title"><h2>Icon Boxes</h2></div>
				</div>
			</div>
			<div class="row services_row">
				
				<!-- Service -->
				<div class="col-lg-4 service_col">
					<a href="services.html">
						<div class="service text-center trans_200">
							<div class="service_icon"><img class="svg" src="images/service_4.svg" alt=""></div>
							<div class="service_title trans_200">Dentistry</div>
							<div class="service_text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin.</p>
							</div>
						</div>
					</a>
				</div>

				<!-- Service -->
				<div class="col-lg-4 service_col">
					<a href="services.html">
						<div class="service text-center trans_200">
							<div class="service_icon"><img class="svg" src="images/service_5.svg" alt=""></div>
							<div class="service_title trans_200">Neonatology</div>
							<div class="service_text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin.</p>
							</div>
						</div>
					</a>
				</div>

				<!-- Service -->
				<div class="col-lg-4 service_col">
					<a href="services.html">
						<div class="service text-center trans_200">
							<div class="service_icon"><img class="svg" src="images/service_6.svg" alt=""></div>
							<div class="service_title trans_200">Biochemistry</div>
							<div class="service_text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin.</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	{% include 'add/footer.html' %}
</div>

{% include 'add/script.html' %}
</body>
</html>